header{
	background: #BBBBBB;
	padding: 20 0px;
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto; /*posicionando o cabeçalho*/
}

nav{
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline; /*muda os links de vertical p horizontal*/
	margin: 0 0 0 15px;/*aumentar os itens entre si*/
}

nav a {
	text-transform: uppercase ; /*deixa tudo em letra maiúscula*/
	color: #000000;
	font-weight: bold; /*negrito*/
	font-size: 22px;
	text-decoration: none; /*retira o sublinhado dos links*/

}

nav a:hover{
	color: #C78C19;/*muda a cor da palavra qd o mouse está em cima*/
	text-decoration: underline; /*sublinhado nas palavras qd o mouse
	está em cima delas*/
}

.produtos {
	width: 940px;/*deixa as figuras centralizadas junto c o txto */
	margin: 0 auto;
	padding: 50px 0;
}
.produtos li{
	display: inline-block; /*ordena as figuras uma do lado da outra*/
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border-color: #000000;
	border-width: 2px ;
	border-style: solid; /*declaração da borda*/
	/*poderia declarar a borda assim também border: 2px #000000 solid;
	no caso seria apenas uma linha com respectivamente: largura, cor;
	e estilo da borda*/
	border-radius: 10px; /*arredonda os cantos da borda*/
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19; /*mouse pressionado/clicando a borda 
	muda a cor*/
}

.produtos li:hover h2 {
	font-size: 34px; /*qd o mouse está em cima das palavras elas 
	mudam o tamanho*/

}

.produtos h2{
	font-size: 30px;
	font-weight: bold;	
}

.produto-descricao{
	font-size: 18px;
}

.produto-preco{
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;

}

footer{
	text-align: center;
	background: url(bg.jpg);
	padding: 40px 0;
}

.copyrigth {
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
}